html{
    position: relative;
    background: #000;
    height:100vh;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
}

#hidden{
    display: none;
}

button{
    border-radius: 5px;
    background-color: rgb(240, 42, 42);
    width: 200px;
    height: 50px;
    border: 2px white solid;
}

button:hover{
    background-color:rgb(203, 65, 65) ;
    border: 2px rgb(158, 158, 158) solid;
}

p{
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight:800;
}

.color>p{
    color: #000;
    text-align: center;
}

.card{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    height: 500px;
    width: 335px;
    display: flex;
}

.card > .color{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.color > img{
    object-fit:contain;
    max-height: 50px;
    justify-content: center;
    align-items: center;
}

.spell-launched{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5px;
    left: 5px;
    bottom: 5px;
    background-color: rgb(69, 69, 69);
    height: 250px;
    border-radius: 10px;
}

.spell-launched > p{
    background-color: rgb(41, 41, 41);
    padding-top: 5px;
    width: 100%;
    height: 30px;
    text-align: center;
}
.list{
    overflow-y: auto;
    width: 100%;
    text-align: center;
}
